<nav class="navbar navbar-light bg-light">
  <ul class="nav"> 
    <li class="nav-item" routerLinkActive="active">
        <a routerLink="books" class="nav-link" href="#">Livres</a>
      </li>
  </ul>
    <ul class="nav">
      <li class="nav-item">
          <a routerLink="auth/signin" class="nav-link" routerLinkActive="active">
            Connexion
          </a>
      </li>
      <li class="nav-item">
          <a routerLink="auth/signup" class="nav-link" routerLinkActive="active">
            Crée un compte
          </a>
      </li>
    </ul>
</nav>