<nav class="navbar navbar-light bg-light">
  <ul class="nav">
    <li class="nav-item" routerLinkActive="active">
      <a routerLink="books" class="nav-link" href="#">Livres</a>
    </li>
  </ul>
  <ul class="nav">
    <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
      <a routerLink="auth/signup" class="nav-link">
        Crée un compte
      </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth">
      <a routerLink="auth/signin" class="nav-link">
        Connexion
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="onSignOut()" style="cursor: pointer;" *ngIf="isAuth">
        Déconnexion
      </a>
    </li>
  </ul>
</nav>
