<div class="row">
  <div class="col-sm-8 col-sm-offset-2"> 
    <h2>Crée un compte</h2>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">
          <input type="text" name="" id="email" class="form-control" formControlName="email">
        </label>
      </div>
      <div class="form-group">
          <label for="password">
            <input type="password" name="" id="password" class="form-control" formControlName="password">
          </label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="signUpForm.invalid"> 
          Créer mon compte
        </button>
    </form>
    <p class="text-danger"> {{errorMessage}} </p>
  </div>
</div>